@font-face {
	font-family: "IranYekan";
	src: url("/fonts/IRANYekanWebRegular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/IRANYekanWebRegular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/IRANYekanWebRegular.woff")
			format("woff"),
		/* Pretty Modern Browsers */ url("/fonts/IRANYekanWebRegular.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "IranYekanBold";
	src: url("/fonts/IRANYekanWebBold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/IRANYekanWebBold.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/IRANYekanWebBold.woff")
			format("woff"),
		/* Pretty Modern Browsers */ url("/fonts/IRANYekanWebBold.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: "Vazir";
	src: url("/fonts/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/Vazir-Regular-FD.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/Vazir-Regular-FD.woff")
			format("woff"),
		/* Pretty Modern Browsers */ url("/fonts/Vazir-Regular-FD.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "VazirBold";
	src: url("/fonts/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/Vazir-Bold-FD.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/Vazir-Bold-FD.woff")
			format("woff"),
		/* Pretty Modern Browsers */ url("/fonts/Vazir-Bold-FD.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: bold;
}
